<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books Store</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="header">
        <div id="titleContainer">
            <img id="bookIcon" src="/image/book.png" alt="bookIcon">
            <h2 id="appTitle">Books Management App</h2>
        </div>
        <div id="actionContainer">
            <p id="userName">Hello!</p>
            <img id="userIcon"src="/image/user.png" alt="userIcon">
        </div>
    </div>
    <div id="sessionModal">
        <div id="sessionModalContent">
            <span id="modalClose">&times;</span>
            <p id="errorMessage">Error</p>
            <button id="gotoLogin">Go to Login</button>
        </div>
    </div>
    <div id="mainContainer">
        <div id="container2">
            <div id="cardContainer">
            </div>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>

</html>