<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserLogin</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <form id="loginForm">
        <div id="loginContainer">
            <p id="loginheader">Login</p>
            <p id="loginheadline">Please enter your credentials</p>
            <input type="text" class="inputfield" id="loginemail" name="email" placeholder="Your email" required>
            <input type="text" class="inputfield" id="loginpassword" name="password" placeholder="password" required>
            <div id="logincheckboxContainer">
                <input type="checkbox" id="logincheckbox" name="checkbox" required>
                <label for="checkbox" id="logincheckboxlabel">I accept the <span style="color: green">Terms of Use</span> & <span style="color: green">Privacy Policy</span></label>
            </div>
            <button type="submit" id="loginButton">Login</button>
        </div>
    </form>
    <div id="noAccountContainer">
        <p id="signupText">Don't have an account? <a href="/signup" id="signupLink" style="color: #fff;">SignUp Here</a></p>
    </div>
    <div id="adminContainer">
        <p style="color: #fff;font-size: 18px;">Are you admin? <a href="/admin/signup" id="adminLoginLink" style="color: #fff; font-weight: bold;">SignUp Here!</a></p>
    </div>
    <script src="js/login.js"></script>
</body>

</html>