<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div id="header">
        <div id="titleContainer">
            <img id="bookIcon" src="/image/book.png" alt="bookIcon">
            <h2 id="appTitle">Books Management App</h2>
        </div>
        <div id="actionContainer">
            <p id="logout">Log Out</p>
            <img id="logoutIcon"src="/image/logout.png" alt="userIcon">
        </div>
    </div>
    <div id="mainContainer">
        <div id="profile">
            <img id="profilePicture"src="/image/profile.png" alt="profile">
            <p id="name">Name</p>
            <p id="email">name@gmail.com</p>
        </div>
        <div id="bookShelf">
            <div id="bookshelfHeaderContainer">
                <p id="bookshelfHeader">My Book Shelf</p>
            </div>
                <div id="cardContainer">
                </div>
        </div>
    </div>
    <script src="/js/profile.js"></script>
</body>
</html>